<!-- <div class="list row">
    <div class="col-mid-8">
        <div class="input group-mb-3">
            <input
            type = "text"
            class = "form-control"
            placeholder = "Search by title"
            [(ngModel)] = "title"
            />
            <div class="input-group-append">
                <button
                class = "btn btn-outline-secondary"
                type = "button"
                (click) = "searchTitle()"
                >
                Search
                </button>
        </div>
    </div>
</div>

<div class="col-md-6">
    <h4>tutorials List</h4>
   <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let tutorial of tutorials; let i = index"
      [class.active]="i == currentIndex"
      (click)="setActiveTutorial(tutorial, i)"
    >
      {{ tutorial.title }}
    </li>
  </ul>

  <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
    Remove All
  </button>
</div>
<div class="col-md-6">
  <app-tutorial-details
    [viewMode]="true"
    [currentTutorial]="currentTutorial"
  ></app-tutorial-details>
</div>

</div> -->


<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<div class="container mt-5">
  <div class="border">
    <h3 style="text-align: center;">Member List</h3>
    <button class="btn btn-md btn-danger" (click)="removeAllTutorials()">
      Remove All
    </button>
    <button class="btn btn-md btn-success" routerLink="/add"> New Member </button>
  </div>
  <div class="search">
    
    <input
          type = "text"
          class = "form-control col-md-3"
          placeholder = "Search member by name"
          [(ngModel)] = "title"
          style="padding-right: 10rem;
          margin-top: -3rem;"
          />
  
  
    <button
    class = "btn btn-dark "
    type = "button"
    (click) = "searchTitle()"
    style="float: left; 
    margin-top: -2.4rem;
    margin-left: 17rem;"
    >
    Search
    </button>
   
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <td>No</td>
        <th>Name</th>
        <th>Position</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let tutorial of tutorials; let i = index"
      [class.active]="i == currentIndex"
      (click)="setActiveTutorial(tutorial, i)"
      >
        <td><span>{{ i+1 }}</span></td>
        <td><span>{{ tutorial.title}}</span></td>
        <td><span>{{ tutorial.description }}</span></td>
        <td *ngIf="tutorial.published"><span>Online<img src="https://img.icons8.com/emoji/12/000000/green-circle-emoji.png"/></span></td>
        <td *ngIf="!tutorial.published"><span>Offline<img src="https://img.icons8.com/emoji/12/red/red-circle-emoji.png"/></span></td>
        <td>
          <button class="btn btn-warning" style="float: left;"> <i class="fa fa-edit" routerLink="/tutorials/{{tutorial.id}}"> Edit </i></button>
          <button class="btn btn-danger" style="float: left;" (click)="deleteTutorial()"> Delete </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<footer class="p-5 text-center position-relative" id="footer">
  <div class="container">
    <div class="details">
      <p class="lead">Brought to you by the Spaza Developers &copy; 2022</p>
    </div>
  </div>
</footer>